# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.so

# Virtual Environment
venv/
env/
*.venv

# IDE - PyCharm, VS Code, etc.
.idea/
.vscode/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
*.tar.gz
*.tar

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Operating systems
.DS_Store # MacOS
Thumbs.db # Windows
*.swp     # Vim
*.swo     # Vim

# Additional files
db.sqlite3 # SQLite database, if used
*.sqlite   # SQLite database, if used
*.sln      # Visual Studio Solution file, if used
*.user     # User-specific project settings
*.bak      # Backup files

out/
data/
